@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 min-h-screen font-sans antialiased;
    background: radial-gradient(circle at 50% 0%, #f1f5f9 0%, #e2e8f0 100%);
    background-attachment: fixed;
  }
}
